body {
   font-family: Arial, sans-serif;
   text-align: center;
}
h1 {
   color: red;
}
h2 {
   color: blue;
}
ul {
   list-style: none;
}
li {
   display: inline-block;
   margin: 10px;
}
img {
   width: 150px;
}
button {
   background-color: green;
   color: white;
   padding: 5px 10px;
   border: none;
   cursor: pointer;
}